body {
	color: white;
	size: 100% 100%;
	/* 	background-color: rgb(30, 30, 30); */
	background-color: black;
	/* 	font-family: "Open Sans", sans-serif; */
	font-family: "Montserrat", sans-serif;
	/*     font-family: "Poiret One", sans-serif; */
	/* 	font-weight: 700; */
}

form {
	text-align: center;
}

h1, h2, h3 {
	font-family: "Comfortaa", sans-serif;
	/* 	font-family: "Montserrat", sans-serif; */
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h2, h3 {
	background-color: rgba(0, 0, 0, 0.4);
}

h3 {
	font-size: 24px;
}

h2 {
	font-size: 32px;
}

h1 {
	margin-bottom: 0.1em;
	/* 	text-align: center; */
	font-size: 96px;
	/* 	color: #ff00ff; */
	color: #000;
	text-shadow: -2px -2px 0 #f0f, 2px -2px 0 #f0f, -2px 2px 0 #f0f, 2px 2px
		0 #f0f;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: #00ffff;
}

::-webkit-scrollbar-thumb:hover {
	background: #ff00ff;
}

.control {
	font-size: 36px;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}

.audioElementDisabled {
	color: black;
}

.audioElement {
	color: #fff;
}

.audioElement:hover {
	color: #f0f;
}

.audioElement:active {
	color: #00ff00;
}

.araicyp-container {
	margin: auto;
	/* 	border: solid 1px; */
	width: 300px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*
 * Spinning Wheel
 */
#loader-title {
	font-family: "Audiowide", sans-serif;
	/* 	font-family: "Montserrat", sans-serif; */
	position: absolute;
	top: -webkit-calc(50% - 60px);
	top: calc(50% - 60px);
	left: -webkit-calc(50% - 150px);
	left: calc(50% - 150px);
	width: 284px;
	font-size: 32px;
	text-align: center;
	vertical-align: center;
	color: black;
	text-shadow: -1px -1px 0 #0f0, 1px -1px 0 #0f0, -1px 1px 0 #0f0, 1px 1px
		0 #0f0;
	z-index: 99;
}

#loader {
	position: absolute;
	top: -webkit-calc(50% - 80px);
	top: calc(50% - 80px);
	left: -webkit-calc(50% - 45px);
	left: calc(50% - 45px);
	/*     border: 6px solid rgba(0, 0, 0, 0); */
	/*     border-radius: 50%; */
	/* /x*     border-top: 6px solid rgb(239, 121, 24); *x/ */
	/*     border-top: 6px solid rgba(255, 0, 255, 1.0); */
	/*     border-bottom: 6px solid rgba(0, 0, 0, 0); */
	color: #000;
	text-shadow: -2px -2px 0 #f0f, 2px -2px 0 #f0f, -2px 2px 0 #f0f, 2px 2px
		0 #f0f;
	font-size: 64px;
	width: 64px;
	height: 64px;
	/*     -webkit-animation: spin 2s linear infinite; */
	/*     animation: spin 2s linear infinite; */
	/*  transform: translate(-50%, -50%); */
	/*  -ms-transform: translate(-50%, -50%); */
}

/* @-webkit-keyframes spin { */
/*   0% { -webkit-transform: rotate(0deg); } */
/*   100% { -webkit-transform: rotate(360deg); } */
/* } */

/* @keyframes spin { */
/*   0% { transform: rotate(0deg); } */
/*   100% { transform: rotate(360deg); } */
/* } */
#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	/* Black background with opacity */
	z-index: 2;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#ad-overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* Black background with opacity */
	z-index: 2;
	/* Specify a stack order in case you're using a different order for other elements */
}

#ad-overlay #companion {
	position: fixed;
	width: 300px;
	height: 250px;
	top: -webkit-calc(50% - 125px);
	top: calc(50% - 125px);
	left: -webkit-calc(50% - 150px);
	left: calc(50% - 150px);
}

#main {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image:
		url("http://www.ybrid.io/ydemo/img/ybrid-background.svg");
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-size: 150% 150%;
}

#column1 {
	position: fixed;
	width: -webkit-calc(33% - 66px);
	width: calc(33% - 66px);
	height: -webkit-calc(100% - 100px);
	height: calc(100% - 100px);
	top: 50px;
	left: 45px;
	background-color: rgba(0, 0, 0, 0);
	text-align: left;
	padding: 5px;
	font-size: 8px;
	color: black;
	z-index: 0;
}

#column2 {
	position: fixed;
	width: -webkit-calc(33% - 76px);
	width: calc(33% - 76px);
	height: -webkit-calc(100% - 170px);
	height: calc(100% - 170px);
	top: 280px;
	left: -webkit-calc(33% + 29px);
	left: calc(33% + 29px);
	text-align: left;
	padding: 5px;
	z-index: 0;
}

#logo-in-column-2 {
	position: fixed;
	top: 50px;
	/* 	width: -webkit-calc(33% - 176px);
	width: calc(33% - 176px);
 */
	width: 200px;
	left: -webkit-calc(33% + ((33% - 200px)/2));
	left: calc(33% + ((33% - 200px)/2));
}

#column2 #active-service-div {
    width: -webkit-calc(100% - 1px);
    width: calc(100% - 1px);
    height: 100px;
    font-family: "Overpass Mono", sans-serif;
    font-size: 10px;
    color: #00ff00;
    padding: 5px 5px 5px 5px;
    margin-right: 0;
    margin-bottom: 6px;
    /*     border: solid 1px rgb(169, 169, 169); */
    border: dotted 1px rgb(255, 255, 0);
    
    background-color: rgba(0, 0, 0, 0.5);
/*     background-color: rgba(255, 0, 255, 0.2); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#column2 #available-services-div {
    display: grid;
    grid-template-columns: repeat(5, -webkit-calc((100% - 1px) / 5));
    grid-template-columns: repeat(5, calc((100% - 1px) / 5));
    width: -webkit-calc(100% - 1px);
    width: calc(100% - 1px);
    height: 100px;
    /*  background-color: rgb(240, 240, 240); */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Overpass Mono", sans-serif;
    font-size: 10px;
    color: #00ff00;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 6px;
    /*     border: solid 1px rgb(169, 169, 169); */
    border: dotted 1px rgb(255, 255, 0);
}
#column2 #available-services-div .field{
    background-color: rgba(255, 0, 255, 0.2);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border: solid 1px rgb(0, 0, 0);
    padding: 5px 5px 5px 5px;
}
#column2 #available-services-div .field:hover { 
    background-color: rgba(255, 255, 0, 0.2);
    border: dotted 1px rgb(255, 0, 255);
}
#column2 #available-services-div .field:active { 
    background-color: rgba(0, 255, 255, 0.6);
    border: dotted 1px rgb(255, 0, 255);
}


#column1 #session-area {
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
    height: 250px;
    /*  background-color: rgb(240, 240, 240); */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Overpass Mono", sans-serif;
    font-size: 10px;
    color: #00ff00;
    margin-bottom: 6px;
    /*     border: solid 1px rgb(169, 169, 169); */
    border: dotted 1px rgb(255, 255, 0);
    overflow: scroll;
}

#column1 #wind-result-area {
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
    height: 250px;
    /*  background-color: rgb(240, 240, 240); */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Overpass Mono", sans-serif;
    font-size: 10px;
    color: #00ff00;
    margin-bottom: 6px;
    /*     border: solid 1px rgb(169, 169, 169); */
    border: dotted 1px rgb(255, 255, 0);
    overflow: scroll;
}

#column1 #meta-area-2 {
	width: -webkit-calc(100% - 5px);
	width: calc(100% - 5px);
	height: -webkit-calc(100% - 560px);
	height: calc(100% - 560px);
	/* 	background-color: rgb(240, 240, 240); */
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Overpass Mono", sans-serif;
	font-size: 10px;
	color: #00ff00;
	/*     border: solid 1px rgb(169, 169, 169); */
	border: dotted 1px rgb(255, 255, 0);
    overflow: scroll;
}

#column3 {
	position: fixed;
	width: -webkit-calc(33% - 66px);
	width: calc(33% - 66px);
	height: -webkit-calc(100% - 100px);
	height: calc(100% - 100px);
	top: 50px;
	left: -webkit-calc(66% + 12px);
	left: calc(66% + 12px);
	background-color: rgba(0, 0, 0, 0);
	text-align: left;
	padding: 5px;
	font-size: 8px;
	color: #00ff00;
	z-index: 0;
}

.plot {
    width: -webkit-calc(100% - 1px);
    width: calc(100% - 1px);
    height: 98px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 10px;
    color: black;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 6px;
    /*     border: solid 1px rgb(169, 169, 169); */
    border: dotted 1px rgb(255, 255, 0);
}

#column3 #bandwidth-plot {
}

#column3 #buffer-plot {
}

#column3 #level-plot {
}

#column3 #log-area {
	width: -webkit-calc(100% - 5px);
	width: calc(100% - 5px);
	height: -webkit-calc(100% - 336px);
	height: calc(100% - 336px);
	/* 	background-color: rgb(240, 240, 240); */
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Overpass Mono", sans-serif;
	font-size: 10px;
	color: #00ff00;
	/*     border: solid 1px rgb(169, 169, 169); */
	border: dotted 1px rgb(255, 255, 0);
}

/**
 * Footer
 */
#footer {
	position: fixed;
	width: 100%;
	height: 50px;
	top: -webkit-calc(100% - 50px);
	top: calc(100% - 50px);
	left: 0;
	right: 0;
	bottom: 0;
	/* 	background-color: rgb(240, 240, 240); */
	background-color: black;
	text-align: center;
	z-index: 99;
}

.logo {
	height: 20px;
	margin: 12px 15px 13px 15px;
}