body {
	color: black;
	text-align: center;
	background-color: white;
	font-family: sans-serif;
}

form {
	text-align: center;
}

h1, h2, h3 {
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 24px;
}

h2 {
	font-size: 32px;
}

h1 {
	margin-bottom: 0.1em;
	font-size: 96px;
}

.audioElementDisabled {
	font-size: 64px;
	color: grey;
}

.audioElement {
	font-size: 64px;
	color: black;
}

.audioElement:hover {
	color: #ff00ff;
}

.audioElement:active {
	color: #00ff00;
}

.araicyp-container {
	margin: auto;
	/* 	border: solid 1px; */
	width: 300px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#ad-overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* Black background with opacity */
	z-index: 2;
	/* Specify a stack order in case you're using a different order for other elements */
}

#ad-overlay #companion {
	position: fixed;
	width: 300px;
	height: 250px;
	top: -webkit-calc(50% - 125px);
	top: calc(50% - 125px);
	left: -webkit-calc(50% - 150px);
	left: calc(50% - 150px);
}

#main {
	position:fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

